/*
!.gitignore
!BeadPack_Fp.cpp
!BeadPack_ReactionMap.cpp
!BeadPack_Reactive.cpp
!BeadPack_Return.cpp
!BeadPack_Statistics.cpp
!BeadPack_Strips.cpp
!BeadPack_Conservative.cpp
!BeadPack_Poincare.cpp
!Makefile
!make.sh
!set_model.sh
